<!DOCTYPE html>
<html lang="en">
<head>
    {# Load the tag library #}
    {% load bootstrap4 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apriori/DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'apriori/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#data-table').DataTable();
        });
    </script>
    <title>Apriori Demo</title>
</head>

<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>