{% extends "apriori/base.html" %}

{% block content %}
    <h2>Welcome to the Apriori demo</h2>
    <!-- List of uploaded documents -->
    {% if data_sets %}
        <h4>All data sets in the database:</h4>
        <table id="data-table">
            <thead>
                <tr>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for data_set in data_sets %}
                    <tr>
                        <td><a href="{% url 'show' data_set.id %}">{{ data_set.datafile.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No documents.</p>
    {% endif %}

    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ message }}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.datafile.label_tag }} {{ form.datafile.help_text }}</p>

        <p>
            {{ form.datafile.errors }}
            {{ form.datafile }}
        </p>

        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock %}